/* Pages/Login/login.module.css */

.container {
    min-height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    width: 200px;
}

.error {
    font-size: 0.8rem;
    color: #bb0000;
}

.loginForm {
    /*display: flex;*/
    flex-direction: column;
    padding: 3px;
}

.loginFormItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}